@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

body {
    box-sizing: border-box;
    background-color: #000;
}

:root {
    --color-principal: #E7DFD5;
    --color-secondary: #84A9AC;
    --color-third: #3B6978;
    --color-hover: #204051;
    --font-primary: 'Krona One', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;

}

.heading {
    width: 29.9rem;
    padding: 2% 0% 0% 15%;
    text-align: center;
}

.menu {
    display: flex;
    gap: 80px;
}

.home,
.about {
    color: var(--color-third);
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.links {
    text-decoration: none;
}

h1 {
    font-size: 3.6rem;
}

h1,
h2,
p {
    color: var(--color-secondary);
}


.text-blue {
    color: var(--color-third);
}

.main-container {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-principal {
    font-size: 3.6rem;
    font-family: var(--font-primary);
}

.text-description {
    font-size: 2.4rem;
    font-family: var(--font-secundary);
}

.area-content {
    width: 61.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.area-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    align-items: center;
}

.image {
    border-radius: 100%;
    width: 60rem;
}

.text-social {
    font-family: var(--font-primary);
    font-size: 2.4rem;
    font-weight: 400;
}

.text-link {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--color-principal);
    width: 38.1rem;
    text-align: center;
    border-radius: 0.8rem;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--color-secondary);
    font-family: var(--font-secundary);
    border: 2px solid var(--color-third);
}

.text-link:hover {
    cursor: pointer;
    background-color: var(--color-hover);
    padding: 3%;
}

.rodape {
    padding: 28px;
    background-color: var(--color-third);
    text-align: center;
}

.text-footer {
    color: var(--color-principal);
    font-family: var(--font-secundary);
    font-size: 25px;
    font-weight: 400;
}