@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000;
    /* background-color: #ff5733; */
    /* background-color: #00ff00; */

}

h1 {
    font-size: 3.6rem;
}

h1,
p {
    color: #f6f6f6;
}


.text-blue {
    color: #22D4FD;
}

.main-container {
    margin: 10% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-principal {
    font-size: 3.6rem;
    font-family: 'Krona One', sans-serif;
}

.text-description {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
}

.area-content {
    width: 61.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.area-links {
    display: flex;
    justify-content: space-evenly;
}

.text-link {
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}