@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

body {
    box-sizing: border-box;
    background-color: #000;
}

:root {
    --color-principal: #E7DFD5;
    --color-secondary: #84A9AC;
    --color-third: #3B6978;
    --color-hover: #204051;
    --font-primary: 'Krona One', sans-serif;
    --font-secundary: 'Montserrat', sans-serif;

}

.heading {
    padding: 2% 0% 0% 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.home,
.about {
    font-family: var(--font-secundary);
    color: var(--color-third);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.links {
    text-decoration: none;
}



h1,
h2,
p {
    color: var(--color-secondary);
}


.text-blue {
    color: var(--color-third);
}

.main-container {
    padding: 6% 15%;
    gap: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-principal {
    font-size: 2.25rem;
    font-family: var(--font-primary);
}

.text-description {
    font-size: 1.5rem;
    font-family: var(--font-secundary);
}

.area-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.area-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    align-items: center;
}

.image {
    width: 50%;
}

.text-social {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    font-weight: 400;
}

.text-link {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--color-principal);
    width: 50%;
    text-align: center;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--color-secondary);
    font-family: var(--font-secundary);
    border: 2px solid var(--color-third);
}

.text-link:hover {
    cursor: pointer;
    background-color: var(--color-hover);
    padding: 3%;
}

.rodape {
    padding: 28px;
    background-color: var(--color-third);
    text-align: center;
}

.text-footer {
    color: var(--color-principal);
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width: 1200px) {
    .heading {
        padding: 10%;
    }

    .menu {
        justify-content: center;
    }

    .main-container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .area-content {
        width: auto;
    }
}